T-Rex Sidescroller Projekt/.idea/*
T-Rex Sidescroller Projekt/out/*
T-Rex Sidescroller Projekt/T-Rex Side Scroller.iml
T-Rex Sidescroller Projekt/T-Rex Sidescroller Projekt.iml

T-Rex Sidescroller Projekt/t-rex_sidescroller_projekt.xml

T-Rex Sidescroller Projekt/t-rex_sidescroller_projekt_Wed_Mar_08_11-57-04_CET_2017.xml

T-Rex Sidescroller Projekt/t-rex_sidescroller_projekt_Wed_Mar_08_11-57-04_CET_2017.properties

T-Rex Sidescroller Projekt/src/META-INF/MANIFEST.MF

T-Rex Sidescroller Projekt/module_t-rex_sidescroller_projekt.xml

T-Rex Sidescroller Projekt/module_t-rex_sidescroller_projekt_Wed_Mar_08_11-57-04_CET_2017.xml

T-Rex Sidescroller Projekt/t-rex_sidescroller_projekt.properties
